header	{
	text-align: center;
}

body {
	background-color:#fff;
	color:#111;
}
a {
	color: #00F;
	text-decoration:none;
}
a:hover {
	color:#39F;
	color: #000;
	text-decoration:none;
}
a:hover {
	color:#666;
}
h1 {
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#000;
	margin:0;
	padding:0;
	text-transform: uppercase;
}
h2 {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#000;
	margin:0;
	padding:0;
	text-decoration:none;
}
h3 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#000;
	margin:0;
	padding:0;
}
h4 {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#000;
	margin:0;
	padding:0;
}
h5 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#000;
	margin:0;
	padding:0;
}
h6 {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#000;
	margin:0;
	padding:0;
}

p {
	font-family:Arial, Helvetica, sans-serif;
}

/* Kode til "nearby-image-partial-visible-slider" på forsiden (imageslideren er fra Github */
#slider1_container { 
	position:relative; 
	top: 0px; 
	left: 0px; 
	width: 800px;
    height: 500px; 
	overflow: hidden;
	margin: auto;
}

#slides { 
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 800px; 
	height: 500px;
    overflow: hidden;
	margin:auto;
}
/* Kode til imageslider slut */

/* Forside indhold */

.aarets {
	float: right;
}




/* Slut på forside indhold */
footer {
border-top: solid 1px #000;
width: 1000px;	
margin: auto;
}

.footerJobLink {
float: right;
}

/*-------------------------------

MENU MENU MENU MENU MENU MENU

-------------------------------*/


.menu-main {
	width:1000px;
	position:relative;
	margin: auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}
.menu-main ul {
	
} 
.menu-main ul li {
	float: left;
	position:relative;
	width:25%;
	box-sizing:border-box;
	padding: 10px 0px 10px 0px;
	border-left: solid 1px #999;
} 

.menu-main ul li nav {
	display:none;
	position:absolute;
	z-index:500;
	width:1000px;
	background-color: #999;
}
.menu-main ul li:hover nav {
	display:block;
	background-color:#999;
	height:auto;
	width: 1000px;
	Margin: auto;
	top: 38px;
} 
.menu-main ul li nav ul li {
	display:inline-block;
	float: left;
	position:relative;
	border-style: none;
	padding: 6px 50px 6px 50px;
}
.menu-sub {
	
}
.submenu-1 {
	left:-0px;
}
.submenu-2 {
	left:-250px;
}
.submenu-3 {
	left:-500px;
}
.submenu-4 {
	left:-750px;
}

.top-menu-4	{
	border-right: solid 1px #999999;
}